{erl_opts, []}.

{deps, []}.

{plugins, [rebar3_hex]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [{dev_mode, false}]}
    ]}
]}.

{relx, [{release, {kashe, "1.0.0"}, [kashe], []}]}.

{xref_checks, [
   deprecated_function_calls, deprecated_functions, undefined_function_calls, undefined_functions
]}.
